body {
  font-family: Arial, Helvetica, sans-serif;
  background-color:#e0ffff;
}

h1{
  border-bottom: 2px solid black;
  width: 400px;
}
p {
  font-weight: bold;
  color: #ff00cc;
}

li {
  color: #ff00cc;
} 

.container{
  margin-left: 50px;
}

  